.group-1
{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0 10vi 0 10vi;
    margin-left: -10vi;
    background-color: #161617;
    flex-direction: row;
    padding-bottom: 50px;
}

.group-1 .dynamicIsland
{
    float: left;
    border-radius: 20px;
    background-color: black ;
}

.group-1 .dynamicIsland h2
{
    font-size: 40px;
    padding-top: 31px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    will-change: transform;
    overflow: hidden;
    background-color: #ffb6ff;
}

.group-1 .dynamicIsland img
{
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.group-1 .camera
{
    float: right;
    border-radius: 20px;
    /*background-color: black ;*/
    margin-left: 20px;
}

.group-1 .camera img
{
    width: 55vh;
    height: 55vh;
    border-radius: 20px;
}

.group-1 .A16
{
    border-radius: 20px;
    background-color: black;
    float: right;
    width: 55vh;
    height: 55vh;
}

.group-1-1 .A16
{
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}