#follower
{
    /*transition: background-color 1s ease;*/
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px;
    color: white;
    width: 100vi;
    height: auto;
    float: left;
    position: fixed;
    left: 0;
    top: 130px;
    z-index: 999;
}

#follower ul
{
    margin-left: 787px;
}

#follower ul li
{
    float: left;
    margin-right: 5px;
}

#follower ul li:first-child
{
    width: 100px;
    text-align: right;
}