main
{
    display: flex;
    flex-direction: column;
    /*width: 994px;*/
}


.select
{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.select h1
{
    color: white;
    float: left;
    font-size: 72px;
    margin-top: 10px;
}

.select ul
{
    display: flex;
    padding: 0;
    float: right;
    align-items: center;
}

.select ul li
{
    color: white;
    margin-right: 8px;
}

.select ul li:last-child
{
    margin-right: 18px;
}

.select ul li li
{
    float: none;
}

#iphoneColorDisplay
{
    opacity: 0;
    transition: opacity 1s ease;
}

#select
{
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vi;
    display: flex;
}

#select ul
{
    margin-left: 68%;
}

.color
{
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

.color:hover
{
    cursor: pointer;
}

#ColorDP
{
    background-color: #594f63;
}

#ColorDP:hover
{
    cursor: hand;
}

#ColorG
{
    background-color: #f4e8ce;
}

#ColorG:hover
{
    cursor: hand;
}

#ColorS
{
    background-color: #ffffff;
}

#ColorS:hover
{
    cursor: hand;
}

#ColorSB
{
    background-color: #403e3d;
}

#ColorSB:hover
{
    cursor: hand;
}

.allIphoneVideo
{
    margin-top: 577px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.allIphoneVideo img
{
    width: 50%;
    height: 511.7px;
    margin-top: -511.7px;
    opacity: 0;
}


.allIphoneVideo video
{
    /*width: 998px;*/
    height: 511.3px;
    margin-top: -511.7px;
}

.allIphoneVideo img
{
    transition: all 1s ease;
}

#iphoneVideo
{
    /*margin-top: -20px;*/
}


#ProProMax
{
    display: flex;
    justify-content: center;
    width: 100vi;
    height: 260.2px;
    background-color: #161617;
}


