.group-1
{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0 10vi 0 10vi;
    margin-left: -10vi;
    background-color: #161617;
    flex-direction: row;
    padding-bottom: 50px;
}

.group-1 .dynamicIsland
{
    float: left;
    border-radius: 20px;
    background-color: black ;
}

.group-1 .dynamicIsland h2
{
    font-size: 40px;
    padding-top: 31px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    will-change: transform;
    overflow: hidden;
    background-color: #ffb6ff;
}

.group-1 .dynamicIsland img
{
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.group-1-1
{
    margin-left: 1vi;
}

.group-1 .camera
{
    align-items: flex-end;
    display: flex;
    width: 19vi;
    height: 19vi;
    border-radius: 20px;
    background: black;
    margin-bottom: 1vi;
    color: #cecece;
    background-image: url(".././source/camera_deep_purple__fviv8fv1dyqa_large.jpg");
}

.group-1 .camera h3
{
    position: absolute;
    padding-left: 3vi;
    padding-bottom: 1vi;
    ont-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.group-1 .camera .gradient
{
    border-radius: 20px;
    width: 100%;
    height: 6vi;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0),black);

}

.group-1 .A16
{
    width: 19vi;
    height: 19vi;
    border-radius: 20px;
    background: black;
    background-image: url(".././source/dd_chip__rvlsm1bvvgi2_large.jpg");
    background-repeat: no-repeat;
    background-position: 100% 360%;
}

.group-1 .A16 h3
{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    will-change: transform;
    overflow: hidden;
    font-size: 40px;
    padding-left: 2vi;
    padding-top: 1vi;
}