.group-1
{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0 10vi 0 10vi;
    margin-left: -10vi;
    background-color: #161617;
    flex-direction: row;
}

.group-1 .dynamicIsland
{
    height: 655.2px;
    float: left;
    border-radius: 20px;
    background-color: black ;
}

.group-1 .dynamicIsland h2
{
    font-size: 40px;
    padding-top: 31px;
    text-align: center;
    color: transparent;
    background-clip: text;
    will-change: transform;
    overflow: hidden;
}

.group-1 .dynamicIsland img
{
    transition: opacity 1s ease;
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.group-1-1
{
    margin-left: 1vi;
}

.group-1 .camera
{

    align-items: flex-end;
    display: flex;
    width: 319.2px;
    height: 319.2px;
    border-radius: 20px;
    background: black;
    margin-bottom: 1vi;
    color: #cecece;
    background-image: url(".././source/camera_deep_purple__fviv8fv1dyqa_large.jpg");
}

.group-1 .camera h3
{
    position: absolute;
    padding-left: 3vi;
    padding-bottom: 1vi;
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.group-1 .camera .gradient
{
    border-radius: 20px;
    width: 100%;
    height: 6vi;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0),black);

}

#A16
{
    width: 319.2px;
    height: 319.2px;
    border-radius: 20px;
    background: black;
    background-image: url(".././source/chip-DP.jpg");
    background-repeat: no-repeat;
    background-position: -300% 500%;
}

#A16 h3
{
    display: inline-block;
    color: transparent;
    background-clip: text;
    will-change: transform;
    overflow: hidden;
    font-size: 40px;
    padding-left: 2vi;
    padding-top: 1vi;
}

.group-2
{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0 10vi 0 10vi;
    margin-left: -10vi;
    background-color: #161617;
    flex-direction: row;
}

.group-2 .battery
{
    margin-top: 1vi;
    align-items: flex-end;
    display: flex;
    width: 256.1px;
    height: 17vi;
    border-radius: 20px;
    background: black;
    margin-bottom: 1vi;
    color: #cecece;
}

.group-2 .ProVideo {
    margin-top: 1vi;
    margin-left: 1vi;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 588px;
    height: 17vi;
    border-radius: 20px;
    background: black;
    margin-bottom: 1vi;
    color: #cecece;
    overflow: hidden; /* 영상을 섹션 내에 제한 */
}

.group-2 .ProVideo video {
    position: relative; /* position 값을 relative로 변경 */
    width: 112%;
    height: 100%;
    object-fit: cover;
}

.group-2 .ProVideo h1 {
    width: 100%;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    margin: 0;
    padding: 10px;
    color: #cecece;
    text-align: center;
}

.group-2 .ProVideo h3 {
    width: 100%;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    margin: 0;
    padding: 10px;
    color: #cecece;
    text-align: center;
}


.group-2 .ProVideo h2
{
    position: relative;
    top: 10px;
}

.group-2 .battery
{
    position: relative; /* position 값을 relative로 변경 */
    object-fit: cover;
}

.group-2 .battery .text
{
    width: 100%;
    font-size: 24px;
    position: absolute;
    margin: 0;
    padding: 10px;
    color: #cecece;
    text-align: center;
}

.group-2 .battery .top
{
    transform: translate(-12%, -360%);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    will-change: transform;
    overflow: hidden;
}

.group-2 .battery .middle
{
    font-size: 55px;
    transform: translate(-11%, -127%);
    display: inline-block;
    color: transparent;
    background-clip: text;
    will-change: transform;
    overflow: hidden;
}

.group-2 .battery .bottom
{
    font-size: 55px;
    transform: translate(5%, -68%);
    display: inline-block;
    color: transparent;
    background-clip: text;
    will-change: transform;
    overflow: hidden;
}

.textGradient
{
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #ffb6ff;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    transition: opacity 1s ease;
}